# Random Wallpaper Every Login 
feh --bg-fill --randomize $HOME/Pictures/wallpapers/* &

# Notifications
dunst &

# Network Manager Applet
nm-applet --indicator &

# Speedy keys
xset r rate 205 35

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="firefox"

# For QT Themes
export QT_QPA_PLATFORMTHEME=qt5ct

# Environment variables set everywhere
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# Compositor
picom -b

# Hide mouse when typing
xbanish &

# Screenshots
flameshot &

# Bluetooth systray icon
blueman-applet &

# set keyboard layout
setxkbmap -model pc105 -layout br -variant abnt2

# load Xresources
xrdb ~/.Xresources

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh
