! special
*.foreground:   #b8bec9
*.background:   #232732
*.cursorColor:  #eceff4
*.revCursorColor: #555555

! black
*.color0:       #4a5469
*.color8:       #303745

! red
*.color1:       #cb4446
*.color9:       #892e2f

! green
*.color2:       #22c888
*.color10:      #106041

! yellow
*.color3:       #cdb27b
*.color11:      #756546

! blue
*.color4:       #5396cf
*.color12:      #345e82

! magenta
*.color5:       #bc81ba
*.color13:      #644563

! cyan
*.color6:       #28b1d4
*.color14:      #1a748a

! white
*.color7:       #e2e5ec
*.color15:      #b5b8bd
